body {
  /* background-color: #dfe0dc; */
  vertical-align: middle;
}

.App {
  display: flex;
  background-color: #dfe0dc;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 5% auto 5% auto;
  border-radius: 15px 15px 15px 15px;
}

header {
  background-color: #083d77;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header-inner * {
  margin: 1rem;
}

.configuration-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.configuration-wrapper > * {
  width: 100%;
  margin-top: 2rem;
}

.configuration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stickytop {
  position: sticky;
  top: 60px;
  background-color: #5F634F;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 420px) {
  :root {
    font-size: 12px;
  }
  .App {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
  }
  header {
    border-radius: 0px;
  }
}