body {
  vertical-align: middle;
}

.App {
  display: flex;
  background-color: #dfe0dc;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 5% auto 5% auto;
  border-radius: 15px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #083d77;
  color: white;
  width: 100%;
  border-radius: 15px;
}

header {
  background-color: #083d77;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header-inner * {
  margin: 1rem;
}

.configuration-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.configuration-wrapper > * {
  width: 100%;
  margin-top: 2rem;
}

.configuration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stickytop {
  position: sticky;
  top: 60px;
  /* background-color: #5F634F; */
  background-color: #083d77;
  width: 100%;
  display: flex;
  justify-content: center;
}

.playlist-summary {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.1)
}

.playlist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.playlist-item-left {
  display: flex;
  align-items: center;
}

.song-tag {
  border: 2px solid #083d77;
  color: #083d77;
  margin-right: 0.5rem;
  padding: 0.35rem;
  border-radius: 4px;
  font-size: 0.6rem;
}

.episode-tag {
  border: 2px solid #5F634F;
  color: #5F634F;
  margin-right: 0.5rem;
  padding: 0.35rem;
  border-radius: 4px;
  font-size: 0.6rem;
}

.episode-img {
  width: 30px;
  margin-right: 0.5rem;
}

@media screen and (max-width: 420px) {
  :root {
    font-size: 12px;
  }
  .App {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
  }
  header {
    border-radius: 0px;
  }
  .home {
    border-radius: 0px;
  }
  .home p {
    text-align: center;
  }
  body {
    background-color: #dfe0dc;
    background-image: linear-gradient(#dfe0dc, rgba(8,61,119,0.25))
  }
}